services:

  postgres:
    image: "postgres:16"
    env_file:
      - .env
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USERNAME}
      - POSTGRES_DB=${POSTGRES_DATABASE}
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USERNAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  pgadmin:
    image: dpage/pgadmin4
    env_file:
      - .env
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - 5050:80
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:
      - app_network

  bot:
    build: .
    tty: true
    env_file:
      - .env
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - PYTHONUNBUFFERED=1
      - PORT=8999
      - POSTGRES_HOSTNAME=postgres  # Явно указываем хост
    ports:
      - "127.0.0.1:8999:8999"
    volumes:
      - .:/app 
      - ./src/assets:/app/src/assets
    working_dir: /app
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app_network

  migrations: 
    build: .
    tty: true 
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - POSTGRES_HOSTNAME=postgres  # Явно указываем хост
    command: ["/bin/sh", "-c", "sleep 5 && poetry run alembic downgrade base && poetry run alembic upgrade head"]
    networks:
      - app_network

  db_backup:
    image: prodrigestivill/postgres-backup-local:16
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_DB=${POSTGRES_DATABASE}
      - POSTGRES_USER=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - SCHEDULE=@daily
      - BACKUP_KEEP_DAYS=7
    volumes:
      - ./backups:/backups
    depends_on:
      - postgres
    networks:
      - app_network

  rclone_backup:
    image: rclone/rclone
    restart: always
    volumes:
      - ./backups:/data:ro
      - ./rclone.conf:/rclone.conf:ro  
    entrypoint: /bin/sh -c "while true; do rclone sync /data gdrive:my_project_backups -L --config /rclone.conf -v; sleep 3600; done"
    depends_on:
      - db_backup
    networks:
      - app_network

volumes:
  postgres_data:
  pgadmin_data:

networks:
  app_network:
    driver: bridge